#mainContainer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(145, 12, 12);
  width: 100vw;
  height: 100vh;
}
#game {
  position: absolute;
  display: none;
  transform-origin: top left;
  left: 50%;
  top: 50%;
  background-color: white;
  image-rendering: pixelated;
}

#game-StartMenu {
  position: absolute;
  display: flex;
  transform-origin: top left;
  left: 50%;
  top: 50%;
  background-image: url("Images/StartMenu/menuBackground.svg");
  background-size: cover;
  justify-content: center;
}

#game-StartMenuReturn {
  position: fixed;
  display: none;
  left: 0%;
  bottom: 50%;
  margin-bottom: 0;
  padding: 0;
  font-size: medium;
}

#game-StartMenuOptions {
  position: relative;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: 60%;
  height: 25%;
  top: 75%;
  background-color: rgba(116, 116, 116, 0.75);
}
.game-StartMenuOptions {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 75%;
  background-color: rgb(162, 162, 221);
  border-width: 4px;
  border-style: groove;
  font-size: small;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: end;
}
.game-StartMenuOptions:hover {
  font-size: medium;
  background-color: rgb(127, 127, 219);
  font-weight: bold;
}
.game-StartMenuOptions:active {
  box-shadow: 0px 4px 8px black;
  transition: ease-in;
  top: 2px;
  border-width: 6px;
  background-color: rgb(70, 70, 207);
  border-color: rgb(19, 3, 78);
}

#game-StartMenuSettings {
  position: relative;
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-width: 60%;
  max-width: fit-content;
  height: 40%;
  top: 60%;
  background-color: rgba(116, 116, 116, 0.75);
  font-size: small;
  overflow-y: auto;
}
.game-StartMenuSettings-Range, .game-StartMenuSettings-Checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
}
.game-StartMenuSettings-ResetButton {
  padding: 0;
}